*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.section{
    width: 25vw;
    height: 35vh;
    background-color: aqua;
    border-radius: 7px;
}

.imgsection img{
    /* height: 100%; */
    width: 50%;
}